.container {
    text-align: center;
    padding: 1rem;
    background-color: transparent;
}

.search {
    background-color: rgba(255, 255, 255, 0.161);
    color: whitesmoke;
    font-size: 1.5rem;
    border-radius: 7px;
    padding: 3px 7px;
    border: 1px solid rgba(0, 0, 0, 0);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}